h1 {
  margin-bottom: 4px;
}

h2 {
  margin-top: 24px;
}

ion-progress-bar {
  margin-top: 12px;
  margin-bottom: 12px;
}

ion-card {
  border-radius: 16px;
  margin-bottom: 12px;
  border-radius: 16px;
}
